* {
    font-family: arial;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #ededed; */
}

header {
    position: fixed;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
    transition: 0.6s;
    font-size: 17px;

}


header {
    width: 100%;
    display: flex;
    z-index: 10000;
    transition: 0.6s;
}

header.sticky {
    padding: 4px 60px;
    background: #FFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


header ul li a {
    transition: 0.6s;

}


/*container*/
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/*banner fundo*/
.img_fundo {
    background-image: url('../img/banner.png');
 
    background-size: cover;
    background-attachment: fixed;
}

/*Menu*/
header .container {
    justify-content: space-between;

}

.navbar {
    display: flex;
    width: 500px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

/*O hover é uma propriedade do css que quando o cursor do mouse passar por cima dele, a função :hover é aplicada a ele. E as funções são determinadas temporariamente ao elemento*/
.navbar a:hover {
    color: #47077F;
    transition: 0.6s;
}

.navbar li,
.navbar a {
    color: black;
    text-decoration: none;
}

/*Banner*/
.banner .container {
    height: 640px;
    /* justify-content: center;  */
    align-items: center;
}


.frase_conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 12%;

}

.space {
    font-size: 4.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.banner p {
    width: 700px;
    font-size: 2.5rem;
    color: black;
    margin-top: -15%;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.1;
    margin-left: -13%;
}


/*button*/
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 200px;
    margin-top: 15%;
}

button:hover {
    background-color: #470b7be3;
    box-shadow: 0px 15px 20px rgba(75, 4, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

/*conteudo*/
.conteudo {
    height: auto;
    width: 90%;
    margin-top: -1%;
    background-color: white;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/*conteudo*/
.conteudo_bigbang {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: -5%;
}

.titulo_1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
}

.img_big_bang {
    width: 350px;
    height: 200px;
    margin-top: 50%;
    margin-left: 25%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_big_bang2 {
    width: 350px;
    height: 200px;
    margin-top: 25%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
}

.img_big_bang:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.img_big_bang2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


.paragrafo {
    display: flex;
    margin-left: 5%;
    border-radius: 5px;
    line-height: 1.6;
    font-size: 1.1rem;
}


/*sol*/
/* .img_sol{
    align-items: center;
    
}
.sol {
    background-image: url('../img/sol.png');
    background-size: cover;
    box-shadow: inset 6px 6px 10px 0px rgba(0, 0, 0, 0.774); 
    background-attachment: fixed;
    height: 50px
}  */

/*cards dos planetas*/
.planetas {
    height: auto;
    width: 90%;
    margin-top: 5%;
    background-color: white;
    color: black;
    border-radius: 5px; 
    margin-left: 5%; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

.organizar {
    margin-top: 5%;
}

.titulo_2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
    width: 900px;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: -5%;
}

.paragrafo_2 {
    display: flex;
    border-radius: 5px;
    line-height: 1.6;
    font-size: 1.1rem;
    /* margin-left: -5%; */
    width: 90%;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    padding: 50px 0;
    gap: 8px;
    margin-left: -7%;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    height: 180px;
}

.box img {
    width: 170px;
}

img:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.box h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

/*viagem espacial*/
.viagem{
    height: auto;
    width: 90%;
    margin-top: 2%;
    background-color: white;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.conteudo_viagem{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: -5%;
}

video{
    width: 10%;
}

.titulo_3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
    width: 900px;   
    margin-top: -5%;
    margin-left: 10%;
}

.divisao{
    display: flex;
    flex-direction: row;
}

.paragrafo_3{
    display: flex;
    border-radius: 5px;
    line-height: 1.6;
    font-size: 1.1rem;
    width: 98%;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}


.paragrafo_4{
    display: flex;
    border-radius: 5px;
    line-height: 1.6;
    font-size: 1.1rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 0% ;
}

.img_sputnik{
    width: 350px;
    height: 250px;
    margin-top: 7%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sputnik{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*footer*/
.desktop_bottom {
    /* position: absolute; */
    display: flex;
    height: 64px;
    width: 100%;
    margin: auto;
    background-color: #470b7be3;
    padding-bottom: 10px;
    border-top: 2px solid #470b7be3;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*cards*/
.cards{
    height: auto;
    width: 90%;
    margin-top: 5%;
    background-color: white;
    color: black;
    border-radius: 5px; 
    margin-left: 5%; 
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); 
}

.recursos{
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.cards .card{
    margin-right: 5%;
    /* margin-left: 5%; */
    margin-top: 0;
}

/* .cards .card{
    position: relative;
    cursor: pointer;
} */

.cards .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 10px;
}

 .cards .card .face.face1{
    position: relative;
    background: #8d30df;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
} 

.cards .card:hover .face.face1{
    background: #47077F;
    transform: translateY(0);
}


.cards .card .face.face1 .content{
    opacity: 0.6;
    transition: 0.5s;
}

.cards .card:hover .face.face1 .content{
    opacity: 1;
}

.cards .card .face.face1 .content img{
    position: relative;
    width: 150px;
    max-width: 100px;
} */

/* .container .card .face.face1 .content .suporte{
    left: 20%;
} */

 .cards .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.cards .card:hover .face.face2{
    transform: translateY(0);
}

.cards .card .face.face2 .content p{
    margin: 0;
    padding: 0;
} 



/* 
.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 0.5px solid #000;
    border-radius: 10px;
} */

/* .container .card .face.face2 .content a:hover{
    background: crimson;
    transition: 0.6s;
    transform: scale(1.1);
    color: #fff;
} */
