* {
    font-family: arial;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #ededed; */
    background-color: #fff;
}

header {
    position: fixed;
    display: flex;
    margin: auto;
    padding-bottom: 10px;
    transition: 0.6s; 
    font-size: 17px;
    background-color: transparent;
    width: 100%;

}


header {
    width: 100%;
    display: flex;
    z-index: 10000;
    transition: 0.6s;
}

header.sticky {
    padding: 4px 60px;
    background: #FFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 

} 


header ul li a {
    transition: 0.6s;

}


/*container*/
.container {
    display: flex;
    width: 80%;
    margin: auto;
}

/*banner fundo*/
.img_fundo {
    background-image: url('../img/banner.png');
    background-size: cover;
    background-attachment: fixed;
} 

/*Menu*/
header .container {
    justify-content: space-between;

}

.navbar {
    display: flex;
    width: 500px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}

/*O hover é uma propriedade do css que quando o cursor do mouse passar por cima dele, a função :hover é aplicada a ele. E as funções são determinadas temporariamente ao elemento*/
.navbar a:hover {
    color: #47077F;
    transition: 0.6s;
}

.navbar li,
.navbar a {
    color: black;
    text-decoration: none;
}

/*Banner*/
.banner .container {
    height: 650px;
    /* justify-content: center;  */
    align-items: center;
}


.frase_conteudo {
    display: flex;
    flex-direction: column;
    margin-top: 12%;

}

.space {
    font-size: 4.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.banner p {
    width: 700px;
    font-size: 2.5rem;
    color: black;
    margin-top: -15%;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.1;
    margin-left: -13%;
}


/*button*/
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    width: 200px;
    margin-top: 15%;
}

button:hover {
    background-color: #470b7be3;
    box-shadow: 0px 15px 20px rgba(75, 4, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

button:active {
    transform: translateY(-1px);
}

/*conteudo*/
.conteudo {
    /* height: auto;
    width: 95%;
    margin-top: -1%; */
    /* background-color: #fff; 
    /* border-radius: 5px;
    margin-left: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
}

/*conteudo*/
.conteudo_bigbang {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: auto;
}

.titulo_1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
}

.img_big_bang {
    width: 350px;
    height: 200px;
    margin-top: 20%;
    margin-left: 25%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_big_bang2 {
    width: 350px;
    height: 200px;
    margin-top: 15%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 10%;
}

.img_big_bang:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.img_big_bang2:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


.paragrafo {
    display: flex;
    margin-left: 5%;
    border-radius: 5px;
    line-height: 1.6;
    font-size: 1.2rem;
}


/*planetas*/
.body_planet{
    min-height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #EFEFEF;

}

.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px 0;
}

.slide-contente{
    margin: 0 40px;
}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 15px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:#47077F ;
    border-radius: 25px 25px 0 15px ;
}

.overlay::before, .overlay::after{
    content: ' ';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #47077F;
}

.overlay::after{
    border-radius: 0 25px 0 0 ;
    background-color: #FFFF;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFFF;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #47077F;
}

.name{
   font-size: 18px; 
   font-weight: 500;
   color: #333;

}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button{
    border:none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #47077F;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background: #7b2ac1;
}


/*cards dos planetas*/
/* 
.organizador {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:  #ededed;
}

.titulo_2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.4rem;
    width: 900px;
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: 5%;
}

.paragrafo_2 {
    display: flex;
    border-radius: 5px;
    line-height: 1.6;
    font-size: 1.2rem;
    /* margin-left: -5%; */
    /* width: 90%;
    margin-left: 5%;
  
} */

/* .sessoes { */
    /* height: auto;
    width: 95%;
    margin-top: 1.5%; */
    /* background-color:  #ededed;
    color: black; */
    /* border-radius: 5px;
    margin-left: 2.5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
/* }

.recursos {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
}

.card {
    margin-right: 5%;
    margin-top: -2%;
}

.cards .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 10px;
}

.cards .card .face.face1 {
    position: relative;
    background: #8d30df;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.cards .card:hover .face.face1 {
    background: #47077F;
    transform: translateY(0);
}


.cards .card .face.face1 .content {
    opacity: 0.6;
    transition: 0.5s;
}

.cards .card:hover .face.face1 .content {
    opacity: 1;
}

.cards .card .face.face1 .content img {
    position: relative;
    width: 150px;
    max-width: 100px;
}

h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
}

.cards .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.cards .card:hover .face.face2 {
    transform: translateY(0);
}

.cards .card .face.face2 .content p {
    margin: 0;
    padding: 0;
} */ 

/*viagem espacial*/
.viagem {
    height: auto;
    width: 100%;
    margin-top: 2%;
    background-color: linear-gradient(90deg, rgba(91,30,159,1) 0%, rgba(77,39,182,1) 100%);
    
    /* border-radius: 5px;
    margin-left: 5%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
}

.conteudo_viagem {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: -5%;
}

.img_rocket img{
    width: 400px;
    margin-top: 5%;
}

.informação{
    margin-left: 10%;
}

.titulo_3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    width: 100%;
    
}

.divisao {
    display: flex;
    flex-direction: row;
}

.paragrafo_3 {
    display: flex;
    line-height: 1.6;
    font-size: 1.2rem;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
}

/*footer*/
.desktop_bottom {
    /* position: absolute; */
    display: flex;
    height: 64px;
    width: 100%;
    margin: auto;
    background-color: #470b7be3;
    padding-bottom: 10px;
    border-top: 2px solid #470b7be3;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
}