/*Cards*/

.social{
     background-color: #FFFF;
     width: 100%;
} 

.boxes_filmes{
    display: flex;
    padding: 50px 0;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 7%; 
}

.boxes_filmes h1{
    width: 900px;
    display: flex;
    justify-content: center;
    color: #47077F;
    margin-top: 6%;
}


.box_filmes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -2%;

}

.box_filmes img{
    display: flex;
    justify-content: center;
    height: 270px;
    width: 190px;
    margin-top: 8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

img:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}

.box_filmes p{
    font-size: 1.2rem;
    margin-top: -2%;
}

.frase{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.frase h4{
    display: flex;
    flex-direction: column;
    color:#47077F;
    margin-top: 7%;
    font-size: 18px;
}
.boxes_filmes h2{
  display: flex;
  color: black;
  font-size: 20px;
}

.informacoes_filmes{
    display: flex;
    flex-direction: row;
    line-height: 1.8;
    margin-left: 8%;
   
}

.icon ion-icon {
    position: relative;
    font-size: 1.6rem;
    margin-top: 5%;
    z-index: 2;
    display: flex;
    align-items: center;
} 

.title{
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.sinopse{
  display: flex;
  width: 700px;
  margin-left: 5%;
  border-radius: 5px;
  line-height: 1.6;
}


/*coração*/
.animacao{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-top: -7%;
}

  .coracao input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .coracao {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .coracao svg {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.3s;
    fill: #666;
  }
  
  .coracao svg:hover {
    transform: scale(1.1);
  }
  
  .coracao input:checked ~ svg {
    fill: #47077F;
  }



  
