/*body*/
.body {
    background-color: #f5ecec;
    color:#977772;
    display: flex;
    flex-direction: column; 
    
}



.body{
    background-color: #f5ecec;
    color:#977772;
    flex-direction: column;

}

.texto {
    background-color: #f5ecec;
    color:#977772;
    padding: 35px;
    margin-left: 60%;
    height: 0px;
    display: flex;
    flex-direction: column;

}

.tempo{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 7%;
    margin-top: 2%;

    font-size: 20px;
    gap: 20px;
}

.temperatura p{

    align-items: center;
    height: 0px;
    width:250px;
    display: flex;
    font-size: 25px;
    rotate: 270deg;
    margin-right: 90px;
}

.espaco {
   margin: 5%;
}

.marca {
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    margin-right: 150px;
    color: rgb(150, 119, 119);
    
}

.titulo_1 {
    display: flex;
    margin-right: 80px;
    flex-direction: column;
    font-size: 98%;
    font-style: italic;
}
.titulo_1 {
    margin-bottom: -17px;
}

.titulo_2 {
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    font-size: 98%;
    font-style: italic;
    margin-top: 43px;
}
.titulo_2 {
    margin-bottom: 2px;
}

.titulo_3{
    display: flex;
    margin-right: 50px;
    flex-direction: column;
    font-size: 98%;
    font-style: italic;
    margin-top: 30px;
}
.titulo_3{
    font-size: 25px;
    font-style: normal;
    font-weight: bolder;
    margin-right: 26%;
    color: #5b5353;
}

.subtitulo_3 p{
    color: #524848;
    font-style: italic;
    font-weight: bold;
    margin-right: 25px;
}

.bottom input{
    border-radius: 4%;
    background-color: #e3cbcb;
    width: 200px;
    height: 25px;
    border-color: #cca7a7;
    background-color:#cca7a7;
}

.bottom button{
    border-radius: 10%;
    
}

.grafico_1{
    width: 43%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;    
}

.grafico_2{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 43%;
    margin-bottom: 5%;

}
.div_grafico{
    display: flex;
    flex-direction: column;}

body{
    margin: 0;
    padding: 0;
}


/* footer */

.footer {
    width: 100%;
    height: 90px;
    background-color: #fec1c1;
    color: #000;    
}

.footer .marca{
    justify-content: center;
    align-items: center;
    height: 100%;
}