/*Duvida*/
.duvida {
    background-color: #F5ECEC;
    height: 10%;
    padding: 100px;

}

.contato {
    background-color: white;
    padding: 10px;
    display: flex;
    height: 500px;
}

.org_esquerda {
    width: 50%;
    height: 50%;
}

.org_esquerda h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.divisoria {
    float: left;
    margin-left: 5%;
    width: 80%;
}

.topicos {
    display: flex;
    font-size: 15px;
    margin-top: 10%;
    float: left;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.topicos2 {
    display: flex;
    font-size: 15px;
    margin-top: 5%;
    float: left;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}


.topicos img {
    width: 25%;
    height: 25%;
}


.topicos2 img {
    width: 25%;
    height: 25%;
}

.topicos2 .informacoes {
    width: 12%;
    height: 12%;
}


.duvidas {
    display: flex;
    float: left;
}

.org_direita {
    display: flex;
    justify-content: center;
    align-items: center;
}

.org_direita .foto {
    width: 50%;
    height: 62%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    border-radius: 2px;
}

.org_direita .card {
    border-bottom: solid 1px red;
    height: 10%;
    width: 100%;
    background-color: white;

}

.org_direita .bolinha {
    border: solid 1px red;
    border-radius: 50px;
    height: 7px;
    width: 7px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0 3px 3px;
}

.org_direita img {
    width: 100%;
    height: 100%;
}


/*Contato*/
.esquerda {
    width: 50%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 100%;
    height: 100%;
    background-color: #A70000;
    border-radius: 10px;
    text-align: center;
}



.esquerda .formulario h4 {
    color: white;
}


.formulario input {
    width: 42%;
    border-radius: 7px;
    height: 10%;
    float: left;
    margin-left: 5%;
    border: none;
}

.formulario .mensagem {
    height: 42%;
    width: 89%;
    margin-top: 5%;

}


.formulario button {
    width: 25%;
    height: 12%;
    border: none;
    border-radius: 7px;
    background-color: #eb3535;
    color: white;
    margin-top: 2%;
    cursor: pointer;
}

.direita {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.info h4 {
    text-align: center;
}

.img_contato img {
    width: 10%;
    height: 10%;
    margin-top: 5%;
    margin-left: 50px;
}

.sociais {
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.sociais .img_sociais img {
    width: 10%;
    height: 10%;
    margin-top: 15px;
    margin-left: 10px;
}



/*
.input {
    font-size: 16px;
    font-family: arial;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 80%;
    border: none;
    background: white;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 5px;
}

.input:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;

}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
    color: red;
}

.bar {
    position: relative;
    display: block;
    width: 80%;
    margin-left: 10%;
    float: left;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: red;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}
*/