*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    
}


/*O webkit-scrollbar, assim como o nome já diz, ele altera as cores, tamanho e etc.*/
/*é uma propriedade CSS que permite personalizar a aparência das barras de rolagem de nosso site*/


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

/*Header*/
header{
    position: fixed;
    display: flex;
    margin: auto;
    background-color: #FFCDCD;
    padding-bottom: 10px;
    border-bottom: 2px solid red;
    transition: 0.6s;
} 


header {
    width: 100%;
    display: flex;
    z-index: 10000;
    transition: 0.6s;
}

header.sticky{
    padding: 4px 60px;
    background: #FF8888;
}
header.sticky .logo,
header.sticky ul li a{
    color: #FFF;
}

header ul li a{
    transition: 0.6s;
}


.container{
    display: flex;
    width: 90%;
    margin: auto;
    transition: 0.6s;
}


.header .img_logo{
    width: 10%;
    margin-left: 34px;
    transition: 0.6s;
}

.header .container{
    justify-content: space-between;
}

.titulo{
    color: #32b9cd;
    font-weight: 500;
}

.navbar{
    position: relative;
    display: flex;
    width: 60%;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    position: absolute;
    height: 18px;
    right: 10%;
    top: 22%;
    transition: 0.6s;
}

/*O hover é uma propriedade do css que quando o cursor do mouse passar por cima dele, a função :hover é aplicada a ele. E as funções são determinadas temporariamente ao elemento*/

.navbar a:hover{
    color: #a70000;
    transition: 0.6s;
}

#login {
    position: absolute;
    width: 83px;
    height: 42px;
    top: calc(50% - 42px/2);
    background-color: #a70000;
    color: #FFFFFF;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#login:hover{
    background-color: crimson;
    transform: scale(1.1);
    transition: 0.5s;
}

.navbar a, .navbar li{
    color: black;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

/* footer */

.footer {
    width: 100%;
    height: 85px;
    background-color: #FFCDCD;
    color: #000;    
}

.footer .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Desktop */
.desktop{
    position: relative;
    height: 3108px;
}

.desktop_light{
    display: flex;
    height: 672px;
    background: #F5ECEC;
}

.desktop_light h1{
    position: absolute;
    text-align: left;
    width: 30%;
    height: 112px;
    left: 13%;
    right: 830px;
    top: 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #373F41;
}

.desktop .text_iot{
    position: absolute;
    height: 110px;
    left: 13%;
    text-align: left;
    width: 30%;
    top: 10%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;   
}

.desktop .saiba_mais{
    position: absolute;
    left: 13%;
    top: 15%;
    font-size: 14px;    
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.3px;
    background-color: #a70000;
    width: 139px;
    height: 48px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.desktop .saiba_mais {
    transition-duration: 0.4s;
    
  }
  
.desktop .saiba_mais:hover {
    background-color: #FF4A4A;
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  }

.desktop .img_top{
    position: absolute;
    left: 48.96%;
    right: 11.46%;
    top: 7%;
    border-radius: 1px;
}



.top_light .top{

    position: absolute;
    left: 48.85%;
    right: 11.46%;
    top: 6%;

}
.top_light .green{
/* green */


position: absolute;
left: 53%;
right: 90.87%;
top: 6.42%;



}
.top_light .yellow{
    /* yellow */


position: absolute;
left: 51.5%;
top: 6.42%;



}
.top_light .red{
    /* red */


position: absolute;
left: 50%;
right: 95.54%;
top: 6.42%;
}



.text_gama h1{
    position: relative;
    left: 47%;
    top: 200%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.1px;

    color: #373F41;

    
}

.container h2{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    text-align: center;
    letter-spacing: 0.1px;
    
    color: #373F41;

}

.container p {
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    
    text-align: center;
    letter-spacing: 0.1px;
    
    color: #373F41;
}

.icon_suporte h2{
    position: absolute;
    height: 24px;
    left: 16%;
    top: 34%;
           
}

.icon_suporte p {
    position: absolute;
    height: 24px;
    left: 6%;
    top: 35.2%;
        
}

.icon_suporte img{
    position: absolute;
    left: 18.5%;
    top: 32.5%;

}

.icon_protecao{
    position: absolute;
    height: 24px;
    left: 39%;
    top: 32.59%;
}

.icon_protecao img{
    position: relative;
    left: 44.9%;
}

.icon_universal{
    position: absolute;
    left: 71%;
    height: 24px;
    top: 32.59%;
}

.icon_universal img{
    width: 31.95px;
    height: 31.95px;
    position: relative;
    left: 43%;
    
}

.icon_mic{
    position: absolute;
    left: 5.5%;
    top: 40.9%;


}

.icon_mic img{
    position: absolute;
    width: 40px;
    height: 38.82px;
    left: 43.5%;
    bottom: 100%;
}

.icon_interacao{
    position: absolute;
    top: 39.10%;
    left: 40%;
    width: 327px;
    height: 180px;
}

.icon_interacao img{
    position: relative;
    left: 39.9%;
    width: 65px;
    height: 55px;
}

.icon_backup{
    position: absolute;
    left: 70%;
    width: 326px;
    height: 180px;
    top: 39.5%;
}

.icon_backup img{
    position: relative;
    left: 43%;
    bottom: 1%;
    width: 40px;
    height: 40px;
}

.estatistica{
    position: absolute;
    top: 50%;
    background: #FDFDFD;
}

.estatistica h1{
    position: absolute;
    top: 45%;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    letter-spacing: 0.1px;

    color: #373F41;

}

#text_blood_solution p {
    position: relative;
    text-align: justify;
    height: 286px;
    top: 215px;
    width: 45%;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;

}

.orcamento button{
    display: flex;
    position: absolute;
    top: 65%;
    background-color: #a70000;
    width: 115px;
    height: 48px;
    align-items: center;
    text-align: center;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    justify-content: center;
    transition-duration: 0.4s;
}

.orcamento button:hover {
    background-color: #FF4A4A;
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  }
.orcamento p{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
}

.orcamento a{
    text-decoration: none;
    color: white;
}

.container_estatistica{
    width: 80%;
    margin: auto;
}

.container_estatistica .grafico{
    
    position: absolute;
    width: 20%;
    height: 13%;
    top: 55.7%;
    left: 60%;
}

.text_estoque{
    position: absolute;
    bottom: 16.5%;
    left: 58%;
}

.text_estoque p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #737B7D;
    text-align: left;
    width: 87%;
}

.top_estoque{
    position: absolute;
    bottom: 27.82%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
    width: 599px;
    height: 40px;
    background: #FFFFFF;
    border: 1.5px solid #FF0000;
}
.bolinhas{
    position: absolute;
    bottom: 28.2%;
    left: 6%;
}

.estoque{
    position: absolute;
    width: 599px;
    height: 492px;
    bottom: 12%;
    
}

.desktop_bottom{
    position: absolute;
    display: flex;
    height: 64px;
    width: 100%;
    margin: auto;
    background-color: #FFCDCD;
    padding-bottom: 10px;
    border-top: 2px solid red;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
}





.recursos{
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.recursos .card{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 10px;
}

.container .card .face.face1{
    position: relative;
    background: #FF7373     ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.6;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    position: relative;
    width: 150px;
    max-width: 100px;
}

.container .card .face.face1 .content .suporte{
    left: 20%;
}


.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 0.5px solid #000;
    border-radius: 10px;
}

.container .card .face.face2 .content a:hover{
    background: crimson;
    transition: 0.6s;
    transform: scale(1.1);
    color: #fff;
}
