

#nosso_projeto {
    width: 100%;
    height: 812Px;
    background-color: #F5ECEC;
}


.imp_projeto h1 {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.2px;
    color: #A70000;

    position: absolute;
    width: 50%;
    height: 79px;
    right: 45.8%;
    top: 25%;
    text-align: center;
}

.imp_projeto p {
    position: absolute;
    width: 636px;
    height: 416px;
    left: 66px;
    top: 341px;

    mix-blend-mode: normal;
    text-align: left;
}

.imp_projeto img {
    position: absolute;
    width: 40%;
    height: 65%;
    left: 57%;
    top: 35%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inicio_projeto {
    width: 100%;
    height: 812Px;
    background: #EAE4E8;
    position: relative;
}

.inicio_projeto h1 {
    position: absolute;
    height: 112px;
    left: 5%;
    width: 30%;
    top: 7%;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: #373F41;
}

.inicio_projeto h2 {
    position: absolute;
    display: flex;
    left: 5%;
    top: 33%;

    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    width: 40%;
    letter-spacing: 0.5px;
    color: #737B7D;
    text-align: left;
}

.inicio_projeto p {
    position: absolute;
    height: 186px;
    left: 5%;
    top: 63%;
    width: 45%;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #737B7D;

}

.inicio_projeto .total {
    top: 90%;
    height: 0%;
    color: #A70000;
}

.inicio_projeto img {
    position: absolute;
    width: 52%;
    height: 80%;
    left: 48%;
    top: 10%;
}

.bolsa_sangue {
    width: 100%;
    height: 812Px;
    background: #F5ECEC;
    position: relative;
}

.bolsa_sangue h1 {
    height: 240px;
    left: 5%;
    top: 20%;

    position: absolute;
    width: 50%;
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 56px;

    letter-spacing: 0.2px;

    color: #373F41;
}

.bolsa_sangue p {
    position: absolute;
    height: 240px;
    left: 5%;
    top: 50%;
    width: 37%;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;

    letter-spacing: 0.3px;

    color: #737B7D;
}

.bolsa_sangue img{
    position: absolute;
    width: 476px;
    height: 482px;
    left: 55%;
    top: 27%;

}