@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 5px;
  background-color: #302b63;
  background-image: url('../img/estelas.png');
  background-size: 600px;
}
/* css menu */
.body_menu{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-color: black;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active{
  width: 240px;
}


.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}

.sidebar .links_name{
  opacity: 0;
  pointer-events:none;
}

.sidebar.active .links_name{
  opacity: 1;
  pointer-events: auto ;
}

.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;

}

.sidebar #btn{
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn{
  left: 90%;
}

.sidebar ul{
  margin-top: 20px;

}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
 
}

.sidebar ul li .tooltip{
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50% );
  border-radius: 6px;
  height: 35px;
  width: 122px;
  line-height: 35px;
  text-align: center;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip{
  display: none;
}

.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top:50%;
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover{
  color:#302b63;
  background: #fff;
}

.sidebar ul li a i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.menu {
  width: 40px;
  height: 100%;
  background-color: beige;
}

body h2 {
  color: black;
  font-size: 2.2em;
  font-family: 'Courier New', Courier, monospace;
}

.titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.teste {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  padding: 40px;
  margin: 20px auto;
  transform: translate(-50%, -55%);
  background: rgba(0, 0, 0, .9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  /* background-color: black;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  min-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 15px 25px rgba(5, 5, 5, 0.6);
  font-size: 1.6em;
  flex-direction: column; */
}

.img_foguete {
  display: flex;
  align-items: center;
  width: auto;
}

img {
  width: 400px;
  margin-left: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.pergunta {
  width: auto;
  height: 190px;
  background-image: url('../img/img_pergunta2.png');
  background-size: 100px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

img {
  width: 90px;
  margin-top: -5%;
  margin-right: 100%;
}

.spnQtd {
  text-align: end;
  color: #ffff;
}

.question {
  color: #ffff;
  margin-left: 5%;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;

}

button {
  width: 100%;
  height: 40px;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  border: white solid 1px;
  color: white;
  font-size: 1rem;

}

button:hover {
  background-color: #470b7be3;
  box-shadow: 0px 15px 20px rgba(75, 4, 157, 0.4);
  color: #fff;
  transform: translateY(-6px);
  transition: all 0.7s;
}

button:active {
  transform: translateY(-1px);
}

/*pagina final*/
.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  margin-top: 30%;
  font-size: 1.5rem;
  line-height: 2;
}

.finish button {
  text-align: center;
  color: #fff;

}