.desempenho {
    width: 100%;
}

.conteiner {
    display: flex;
    flex-direction: row;
}

.usuario {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* width: auto;
    height: auto;  */
}

.avatar {
    width: 200px;
    height: 150px;
    background-color: #950000;
    border-radius: 30px;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-right: 50%; */
    margin-left: 13%;
    background-image: url('https://th.bing.com/th/id/R.ee0fd99639f133e97e00ad1db84c335f?rik=YhgH9CPEdzxZMQ&pid=ImgRaw&r=0');
    background-size: 200px;
}

.avatar img {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.nome {
    display: flex;
    flex-direction: row;
    /* margin-left: 10%; */
    width: 600px;
    margin-top: 1%;
}

.frase {
    margin-top: 10%;
    margin-left: 35%;
}

.frase p {
    font-size: 2rem;
    color: #eee;
}

.frase .frase_desem{
    font-size: 1.2rem;
}

/*card  desempenho */
.card-tudo {
    display: flex;
    justify-content: right;
}

.card-analise {
    width: 370px;
    height: 160px;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-left: 26%;
    border: 2px solid white;
}

.card-analise p {
    font-size: 1.2rem;
}


/*Gráfico*/
.grafico {
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
}



.grafico-chart2 {
    display: flex;
    justify-content: right;
    margin-left: 10%;
    color: #ffffff;
    margin-top: 10%;
    margin-left: 15%;
    border: 2px solid white;
    border-radius: 10px;
}

/* .fundo-grafico2{
    width: 800px;
    height: 400px;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.092), 0 6px 20px 0 rgba(255, 255, 255, 0.172);
    margin-top: 10%;
   
} */

canvas {
    align-self: center;
}


/*teste*/

/* .skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -15%;
}

.skill-name {
    width: 120px;
    font-size: 16px;
}

.skill-level {
    width: 450px;
    height: 15px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
}

.skill-percent {
    background: linear-gradient(90deg, rgb(210, 53, 225) 0%, rgba(77, 39, 182, 1) 100%);
    height: 100%;
}

.skill-percent-number {
    margin-left: 20px;
    font-size: 1.3rem;
    color: #eee;
} */