.ranking-tudo {
    display: flex;
    justify-content: center;
    color: #ffff;
    align-self: center;
    width: auto;
    align-items: center;
}

.ranking-container {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
}

h1 {
    text-align: center;
    color: #fff;
}

.ranking-top {
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 300px;
    margin-top: 5%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    align-self: center;

}

.ranking-top h2 {
    text-align: center;
    color: #fff;
}


.ranking-card {
    width: 400px;
    background-color: #1c193d;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-left: 28%;
    margin-top: 13%;
}


#topThreeList.ranking-list {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2%;
}


.ranking-card h2 {
    margin-bottom: 1.2rem;
    color: #fff;
}

.ranking-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin: 0;
    color: #ffffff;
    flex-direction: column;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.ranking-item h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff;
    margin-left: 4%;
}

.ranking-item p {
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0;
    width: 100px;
    height: auto;
    background-color: rgb(132, 125, 125);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-right: 2%;
}

.ranking-item {
    border: 1px solid black;
    border-radius: 20px;
    width: 350px;
    height: 60px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}